.popular{
    padding: 5px 10px;
    border-radius: 4px;
    width: 100%;

    &.light {
        background-color: white;
        box-shadow: 0 0 1px 1px rgba($color: black, $alpha: .1);
    }

    &.dark{
        background-color: #25262b !important;
    }

    &:not(:last-child){
        margin-bottom: 10px;
    }

    &__thumbnail{
        width: 48px;
        height: 48px;
        border-radius: 4px;
    }
}