.text-editor{
    background-color: #1e1e1e !important;
    height: 100%;
    width: 100%;
}

.editor-tab{
    width: 100%;
    background-color: #252526 !important;
    display: flex;
    flex-wrap: nowrap;
    height: 29px;
}
.editor-tab-items{
    color : #aeaeae;
    padding: .25rem .5rem;
    background: #3c3c3c;
}
.editor-tab-items:hover{
    cursor: pointer;
}
.editor-tab-items.active{
    background-color: #1e1e1e;;
}

.editor{
    color: white;
    display: flex;
    height: calc(100% - 59px);
    overflow-y: auto;
}
.editor .line-numbers{
    width: 30px;
    text-align: center;
    height: 100%;
}
.editor .code{
    width: 100%;
    line-height: 1.5rem;
}

.keyword{
    color: blue;
}