@import '../../variables';

.aside {
    padding: 0 1.5rem;
    height: 100%;
    width: 100%;
    border-right: 1px solid rgba($color: $mid_gray, $alpha: .2);
    
    &-section {
        padding-top: 1.5rem;

        &__content {
            margin-top: .8rem;

            &-items {
                padding: 5px 10px;
                margin: .5rem 0;
                border-radius: 3px;
                transition: all .1s ease-out;
                color: inherit;
                background: linear-gradient(to right, $doger_blue  50%, transparent 50%);
                background-size: 200% 100%;
                background-position: right bottom;

                &.active {
                    color: white !important;
                    background-position: left bottom;
                    box-shadow: 0 0 10px 8px rgba($color: white, $alpha: .1);
                }
            }
        }
    }

}