.text-logo {
    background: url(https://2.bp.blogspot.com/-pKFE-5ysj68/TkjG9DvLB4I/AAAAAAAAEoM/rDKiHkvbC8o/s1600/Abstract_Wallpaper_8.jpg) no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'r-bold';
}