.nav-bar {
    position: sticky;
    top: 0px;
    z-index: 3;
    height: 50px;
    padding: 0 3rem;
    margin-bottom: .7rem;

    &__icon{
        font-size: 1rem !important;
    }

    &__search {
        display: flex;
        align-items: center;
        margin-left: 2rem;

        position: relative;
        
        input {
            border: 0;
            background: transparent;
            padding: 0 1rem;    
            &:focus {
                outline: 0;
            }
        }
    }

    &.light{
        background-color: white;
    }

}